# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
.build/
dist/
*.egg-info/

# Miscellaneous
.DS_Store
process_history.json

# Ignore .env files to protect API keys
.env